.header--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: rgb(39, 228, 61);
  font-weight: 500;
}

.form-input {
  font-size: 22px;
  color: rgb(45, 44, 44);
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 2px solid rgb(39, 228, 61);
  padding: 5px;
}

.form--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
